body {
  background-color: #171219;
}

* {
  color: white;
}

a {
  text-decoration: none;
}

.button-contact {
  border-radius: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.button-contact:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.icons-btn {
  width: fit-content;
  height: fit-content;
  font-size: 60px;
}

.icons-btn:hover {
  color: rgba(0, 0, 0, 0.9);
}

.logo-row {
  justify-content: center;
}

.contact-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 350px;
  height: 350px;
}

.perfil {
  width: 212px;
  height: 207px;
  margin: 10px;
  border: 8px solid white;
  background-color: white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.perfil-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
